::selection {
  background-color: rgb(204, 119, 0);
  color: #fff;
}
::-moz-selection {
  background-color: rgb(204, 119, 0);
  color: #fff;
}

.theme-color {
  color: rgb(204, 119, 0);
}

.home-banner .social-icons a:hover,
.btn-theme, 
.theme-after:after,
.theme-bg {
  background: rgb(204, 119, 0);
}

